// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-spaces {
  margin: 10px 0;
  word-wrap: break-word;
}

.dice {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: red;
}

.cards {
  margin-bottom: 15px;
  .card {
    border: 2px solid black;
    padding: 8px 4px;
    margin-right: 3px;
    display: inline-block;
    &.selected {
      border: 2px dashed black;
      font-weight: bold;
    }
    &.law {
      min-height: 22px;
      vertical-align: bottom;
    }
  }
}
.being {
  .card {
    margin-left: 5px;
    margin-right: 4px;
  }
}
